body{
	color: white;
	font-family: "Trebuchet MS";
	text-align: center;
	background-image: linear-gradient(90deg, red, darkblue);
}
h1{
	color: white;
}
h2{
	color:white;
	text-align: center;
}
h3{
	color:white;
	text-align: center;
}
a:link {
  color: white;
  text-decoration: underline;
}
a:visited {
  color: white;
  text-decoration: underline;
}
a:hover {
  color: gray;
  text-decoration: underline;
}
a:active {
  color: lightgray;
  text-decoration: underline;
}
